#
# mariadb systemd service file
#

[Unit]
Description=MariaDB 10.6.11 Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=mariadb.service

[Service]
User=mysql
Group=mysql

# Execute pre and post scripts as root
PermissionsStartOnly=true

# Needed to create system tables etc.
# ExecStartPre=/usr/bin/mysql-systemd-start pre

# Start main service
ExecStart=/usr/local/bit2025/mariadb/bin/mysqld_safe

# Don't signal startup success before a ping works
# ExecStartPost=/usr/bin/mysql-systemd-start post

# Give up if ping don't get an answer
TimeoutSec=600
Restart=always
PrivateTmp=false
