[Unit]
Description=tomcat10
After=network.target
After=syslog.target

[Service]
Type=forking
Environment=JAVA_HOME=/usr/local/bit2025/java
User=root
Group=root

ExecStart=/usr/local/bit2025/tomcat/bin/startup.sh
ExecStop=/usr/local/bit2025/tomcat/bin/shutdown.sh

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
